name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /var/www/html_nueva
          # Forzamos la descarga de lo nuevo desde GitHub directamente en la VPS
          git fetch origin main
          git reset --hard origin/main
          # Aseguramos permisos para Nginx
          chown -R www-data:www-data /var/www/html_nueva
          chmod -R 755 /var/www/html_nueva
          sudo systemctl reload nginx
          
